footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  gap: 8px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: bolder;
  gap: 6px;
}

.keyboard-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d6da;
  border-radius: 5px;
  font-size: x-large;
  width: 45px;
  height: 60px;
}

.keyboard-block-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d6da;
  border-radius: 5px;
  font-size: small;
  width: 70px;
  height: 60px;
}
